@font-face {
    font-family: 'ReformaGroteskDemi';
    src: url('../fonts/ReformaGroteskDemiC.eot');
    src: url('../fonts/ReformaGroteskDemiC.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ReformaGroteskDemiC.woff2') format('woff2'),
        url('../fonts/ReformaGroteskDemiC.woff') format('woff'),
        url('../fonts/ReformaGroteskDemiC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

